* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}


html{
  scroll-behavior: smooth;


}
body,
html {
  height: 100%;
}

@keyframes slideInLeft {
  0% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0);
  }
}

nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

.logo h1 span {
  color: rgb(56, 56, 56);
  font-size: 13px;
  padding-left: 5px;
}

.logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}

.links a {
  text-decoration: none;
  color: black;
  padding: 8px;
  border-radius: 15px;
  transition: 1s ease;
  margin-left: 10px;
  margin-right: 10px;
}

.links a:hover {
  color: rgb(32, 135, 253);
}

.links.active {
  padding: 10px;
  border: 1px solid #ddd;
  transition: all 0.5s ease;
  position: relative;
  z-index: 4;
  margin-top: 10px;
}

.links.active a {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: underline;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.links.active a:nth-child(1) {
  transition-delay: 0.2s;
}

.links.active a:nth-child(2) {
  transition-delay: 0.3s;
}

.links.active a:nth-child(3) {
  transition-delay: 0.4s;
}

.links.active a:nth-child(4) {
  transition-delay: 0.5s;
}

.links.active a:nth-child(5) {
  transition-delay: 0.6s;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px auto;
}

@media (max-width: 480px) {

  nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0.8vh;
    margin-bottom: 10vh;
  }
  
  .logo h1 span {
    color: rgb(56, 56, 56);
    font-size: 10px;
    padding-left: 5px;
  }
  
  .logo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
  }
  .links {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    order: 1;
    padding-top: 5px;
  }

  .links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 100%;
    background: rgb(253,254,255);
    background: radial-gradient(circle at 10% 20%, rgb(147, 230, 241) 0%, rgb(145, 192, 241) 45.5%);
    border-radius: 8px;;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    transition: 0.5s ease;
  }

  .links.active .bar {
    width: 100%;
    height: 3px;
    background-color: rgb(32, 135, 253);
    margin: 5px auto;
  }

  .links.active .bar:nth-child(1) {
    transform: translateY(10px);
  }

  .links.active .bar:nth-child(2) {
    opacity: 0;
  }

  .links.active .bar:nth-child(3) {
    transform: translateY(-10px);
  }

  .banner {
    margin-top: 5px;
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 0, 0, 0.397) 15%
      ),
      url("./../media/mainpagebg.webp");
    height: 100%;
    
  
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
  
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: 0.5s ease-out 0s 1 slideInLeft;
    color: white;
    border-radius: 8px;
    text-align: center;
  }
  
  .banner h1 {
    padding-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 30vw;
    font-weight:800;
    margin-top: -10px;
    font-stretch: expanded;
  }
}

.mn-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: 0.5s ease-out 0s 1 slideInLeft;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 100px;
}

#c {
  padding-top: -10px;
  padding-bottom: 25px;
  font-family: "Raleway" sans-serif;
  font-size: 21px;
  font-weight:500;
  margin-bottom: 25px;
  margin-top: 10px;
}

.mn-content h1 {
  padding-bottom: 15px;
  font-size: 44px;
}

#mpbutton {
  background-color: rgb(0, 119, 255);
  display: flex;
  padding: 15px 75px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
  transition: 1s ease;
  animation: 1s ease-out 0s 1 slideInLeft;
}

#mpbutton:hover {
  background-color: rgb(46, 144, 255);
}

#mpbutton p {
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10%;
  margin-top: 10%
}

iframe {
  width: 100% !important;

  height: 90%;
}

.frame {
  width: 100%;
  position: relative;
}

.fade {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.65) 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0.65) 100%
  );
}

.frame img {
  width: 1000px;
}

.banner {
  margin-top: 5px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(0, 0, 0, 0.397) 15%
    ),
    url("./../media/mainpagebg.webp");
  height: 100%;
  


  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: 0.5s ease-out 0s 1 slideInLeft;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.banner h1 {
  padding-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight:800;
  margin-top: -10px;
  font-stretch: expanded;
}


.go {
  background-color: rgb(0, 119, 255);
  border-radius: 10px;
  display: flex;
  padding: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s ease;
  animation: 1s ease-out 0s 1 slideInLeft;
  color: white;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 586px;
}

.go:hover {
  background-color: rgb(46, 144, 255);
}

.abt-content {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  width: 75%;
}

.abt-content h1 {
  font-weight: 600;
  padding-bottom: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.missvis {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*CODE KO NA TO*/

.p2buttons {
  margin-top: 15px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 45px; /* Gap between buttons */
}

.button1,
.button2,
.button3,
.button4 {
  background-color: rgb(0, 119, 255);
  color: white;
  font-size: 35px;
  font-weight: 600;
  border-radius: 95px;
  cursor: pointer;
  transition: 2s ease;
  animation: 3s ease-out 0s 1 slideInLeft;
  text-decoration: none; 
  height: 200px;
  min-width: 190px;
  display: flex;
  align-items: center;
  margin:30px;
  border-color:  rgb(0, 85, 204);
  border-width: 5px;
}

.button1{
  padding-left: 70px;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: rgb(153, 204, 255);
}
.button2{
  padding-left: 40px;
  margin-bottom: 20px;
  margin-left: 0px;
  background-color: rgb(102, 178, 255);
}
.button3{
  padding-left: 40px;
  margin-top: 0px;
  margin-right: 10px;
  background-color: rgb(51, 153, 255);
}
.button4{
  padding-left: 35px;
  margin-top: 0px;
  margin-left: 0px;
  background-color: (0, 153, 255);
}

.icon {
  margin-left: 75px; /* Adjust icon margin as needed */
}

.icon4{
  font-size: 65px;
}

.button-content {
  display: flex;
  flex-direction: column;
  line-height: 1.2em;
}

.buttonl {
  font-size: 45px;
  font-weight: 400;
}

.buttonh{
  font-size: 25px;
  font-weight: 200;

}


.p2buttons .button1:hover,
  .p2buttons .button2:hover,
  .p2buttons .button3:hover,
  .p2buttons .button4:hover {
    background: linear-gradient(to right, rgb(0, 119, 255), rgb(0, 140, 255));
  }



@media (max-width: 768px) {
  .p2buttons {
    margin-top: 15px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Change to single column layout */
    gap: 15px; /* Gap between buttons */
  }
  
  .button1,
  .button2,
  .button3,
  .button4 {
    background-color: rgb(0, 119, 255);
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 95px;
    cursor: pointer;
    transition: 2s ease;
    animation: 3s ease-out 0s 1 slideInLeft;
    text-decoration: none; 
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center button content */
    border-color:  rgb(0, 85, 204);
    border-width: 5px;
    margin: 20px; /* Adjust margin for single column layout */
  }
  
  .button1 {
    background-color: rgb(153, 204, 255);
    padding-right: -100px;
  }
  
  .button2 {
    background-color: rgb(102, 178, 255);
  }
  
  .button3 {
    background-color: rgb(51, 153, 255);
  }
  
  .button4 {
    background-color: rgb(0, 153, 255);
    height: 100px;
    width:200px;
  }
  
  .button-content .buttonl {
    display: flex;
    flex-direction:row;
    align-items: center; 
    padding-right: 140px;
  }

  .icon{
    padding-right: -15px; /* Adjust icon margin */
    font-size: 20px;
  }
  .button1 .icon{
    padding-right: 8px; /* Adjust icon margin */
    font-size: 20px;
  }

  .button2 .icon{
    padding-left: 25px; /* Adjust icon margin */
    font-size: 20px;
  }

  .button3 .icon{
    padding-left: 28px; /* Adjust icon margin */
    font-size: 20px;
  }

  
  .buttonl {
    font-size: 25px;
    font-weight: 500;
  }
  
  .buttonh {
    font-size: 15px;
    font-weight: 200;
    white-space: nowrap;
    padding-left: -15px;
  }

  .button4 .icon{
    padding-left: 25px;
  }

  .button4 .buttonl{
    font-size:20px;
    white-space: nowrap;
    padding-left: -85px;
  }
  
  .button1 .buttonl{
    font-size:25px;
    font-weight: 500;
    padding-left: -10px;
  }
  
    /* Adjust margin for smaller screens */
  }

  